
.content {
  padding: 32px 64px;
  .title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
      margin-bottom: 32px !important;
    }
    p {
      text-align: center;
      &:nth-child(2) {
        margin-bottom: 16px !important;
        color: var(--nix-grey-primary);
      }
    }
  }
  form {
    margin-top: 16px;
    .material-form {
      width: 100%;
    }

    .actions {
      display: flex;
      justify-content: space-between;
      button {
        height: 50px;
        &:first-child {
          width: 130px;
          margin-right: 15px;
        }
        &:last-child {
          width: 200px;
          margin-left: 15px;
        }
      }
    }
  }
}
