.recipient-details {
  span {
    &.vertical-span {
      flex-direction: column;
      align-items: center;
    }
    &.desc {
      justify-content: center;
    }
    p {
      &.overflow-text {
        width: auto;
        overflow-wrap: anywhere;
        text-align: center;
      }
    }
  }
}
p {
  &.title {
    color: var(--nix-grey-primary);
  }
}
.actions {
  display: flex;
  justify-content: center;
  button {
    width: 150px;
    height: 45px;
    &:first-child{
      margin-right: 15px;
    }
    &:last-child{
      margin-left: 15px;
    }
  }
}
