<div class="content">
  <div class="card">
    <div class="logo">
      <img src="../../../assets/nix-empresas-logo-black.svg" alt="nix" />
    </div>
    <form
      class="form"
      [formGroup]="forgotPasswordFormGroup"
      (ngSubmit)="retrieve()"
    >
      <mat-form-field class="material-form" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          name="email"
          required
          formControlName="email"
          placeholder="Digite seu email"
        />
        <mat-error>
          <p *ngIf="forgotPasswordFormGroup.controls['email'].errors?.required">
            Email é um campo obrigatório.
          </p>
        </mat-error>
      </mat-form-field>
      <span class="step">
        <p>Enviaremos um e-mail com mais instruções a você</p>
      </span>
      <div class="actions">
        <button class="main-button" type="submit" name="recover-btn">Recuperar</button>
        <a class="regular-light" [routerLink]="['/']"
          >Voltar para a página de autenticação</a
        >
      </div>
    </form>
  </div>
</div>
