<mat-dialog-content>
  <div class="close-wrapper">
    <button mat-button mat-dialog-close name="modal-close-btn">
      <img src="../../../../assets/icons/close-square.svg" />
    </button>
  </div>
  <div class="content">
    <div class="loading-shade" *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>
    <div class="title-wrapper">
      <h3 class="bold">Alteração de senha</h3>
      <p class="large-light">
        Ao alterar a senha você será desconectado de todas as aplicações da NIX.
      </p>
      <p class="extra-small-regular">A senha deve ter no mínimo 6 dígitos</p>
    </div>
    <form [formGroup]="passwordFormGroup" (submit)="onSubmit()">
      <mat-form-field class="material-form" appearance="outline">
        <mat-label>Senha Atual</mat-label>
        <input
          type="password"
          matInput
          name="currentPassword"
          required
          formControlName="currentPassword"
        />
        <mat-error>
          <p *ngIf="passwordFormGroup.controls['currentPassword'].errors?.required">Senha Atual é um campo obrigatório.</p>
          <p *ngIf="passwordFormGroup.controls['currentPassword'].errors?.minlength">A senha deve ter no mínimo 6 dígitos.</p>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="material-form" appearance="outline">
        <mat-label>Nova senha</mat-label>
        <input
          type="password"
          matInput
          name="password"
          required
          formControlName="password"
        />
        <mat-error>
          <p *ngIf="passwordFormGroup.controls['password'].errors?.required">Senha é um campo obrigatório.</p>
          <p *ngIf="passwordFormGroup.controls['password'].errors?.minlength">A senha deve ter no mínimo 6 dígitos.</p>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="material-form" appearance="outline">
        <mat-label>Digite novamente a nova senha</mat-label>
        <input
          type="password"
          matInput
          name="confirmPassword"
          required
          formControlName="confirmPassword"
        />
        <mat-error>
          <p *ngIf="passwordFormGroup.controls['confirmPassword'].errors?.required">Senha é um campo obrigatório.</p>
          <p *ngIf="passwordFormGroup.controls['confirmPassword'].errors?.minlength">A senha deve ter no mínimo 6 dígitos.</p>
          <p *ngIf="passwordFormGroup.controls['confirmPassword'].errors?.mustMatch">Senhas não conferem.</p>
        </mat-error>
      </mat-form-field>
      <div class="actions">
        <button
          mat-button
          class="main-button-inverse"
          mat-dialog-close
          type="button"
        >
          Cancelar
        </button>
        <button mat-button class="main-button" type="submit" [disabled]="passwordFormGroup.invalid">
          Confirmar alteração
        </button>
      </div>
    </form>
  </div></mat-dialog-content
>
