<mat-dialog-content>
  <div class="close-wrapper">
    <button mat-button mat-dialog-close *ngIf="!loading" name="modal-close-btn">
      <img src="../../../../assets/icons/close-square.svg" />
    </button>
  </div>
  <div class="content">
    <div class="loading-shade" *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>
    <mat-horizontal-stepper linear #stepper labelPosition="bottom">
      <mat-step [editable]="false">
        <ng-template matStepLabel>Confirmação</ng-template>
        <div class="step-content">
          <div class="wrapper-title">
            <h3 class="bold">Deseja reenviar esta cobrança?</h3>
          </div>
          <div class="wrapper-data">
            <span>
              <p class="large-light">Destinatário:</p>
              <p class="large-light">{{ collection.payer_name }}</p>
            </span>
            <span>
              <p class="large-light">CPF/CNPJ:</p>
              <p class="large-light">
                {{ collection.payer_social_number | cpfCnpj }}
              </p>
            </span>
            <span>
              <p class="large-light">Valor:</p>
              <p class="large-light">{{ collection.amount | currency }}</p>
            </span>
          </div>
        </div>
        <div class="wrapper-button">
          <button class="main-button-inverse" name="back-btn" mat-button mat-dialog-close>Cancelar</button>
          <button class="main-button" name="next-btn" mat-button (click)="resendCollection(collection)">Reenviar cobrança</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Concluído</ng-template>
        <div class="response-content">
          <img src="../../../../assets/icons/success.svg" />
          <p class="regular-light">Sua cobrança foi reenviada com sucesso!</p>
        </div>
        <!-- <div class="response-content" *ngIf="!contactSaved">
          <img src="../../../../assets/icons/failed.svg" />
          <p class="regular-light">Falha ao reenviar a cobrança!</p>
        </div> -->
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</mat-dialog-content>
